src/flow.json
[{"id":"9c1d3c37208fcd2a","type":"tab","label":"SLMP Data","disabled":false,"info":"","env":[]},{"id":"b8594315a2979e70","type":"mqtt in","z":"9c1d3c37208fcd2a","name":"","topic":"ie/m/j/simatic/v1/slmp1/dp","qos":"2","datatype":"json","broker":"6bd4974.1100768","nl":false,"rap":false,"inputs":0,"x":210,"y":100,"wires":[["1896787538dd6b45"]]},{"id":"1896787538dd6b45","type":"debug","z":"9c1d3c37208fcd2a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":100,"wires":[]},{"id":"8c7a4e67dda9a3b9","type":"comment","z":"9c1d3c37208fcd2a","name":"Read metadata","info":"","x":140,"y":60,"wires":[]},{"id":"8acf48a3633c43c8","type":"mqtt in","z":"9c1d3c37208fcd2a","name":"","topic":"ie/d/j/simatic/v1/slmp1/dp/r/#","qos":"2","datatype":"json","broker":"6bd4974.1100768","nl":false,"rap":false,"inputs":0,"x":220,"y":220,"wires":[["d0df874bb6386b50"]]},{"id":"d0df874bb6386b50","type":"debug","z":"9c1d3c37208fcd2a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":220,"wires":[]},{"id":"c01a815a2b75da62","type":"comment","z":"9c1d3c37208fcd2a","name":"Read data","info":"","x":120,"y":180,"wires":[]},{"id":"70cee037ebe057d6","type":"comment","z":"9c1d3c37208fcd2a","name":"Write data","info":"","x":120,"y":300,"wires":[]},{"id":"26095bf95696bd7c","type":"mqtt out","z":"9c1d3c37208fcd2a","name":"","topic":"ie/d/j/simatic/v1/slmp1/dp/w/FX5","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6bd4974.1100768","x":450,"y":380,"wires":[]},{"id":"901271f59dff3320","type":"inject","z":"9c1d3c37208fcd2a","name":"set D10 (value 1)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vals\":[{\"id\":\"103\",\"val\":\"4444\"}]}","payloadType":"json","x":180,"y":360,"wires":[["26095bf95696bd7c"]]},{"id":"e0ca215edfc533ab","type":"inject","z":"9c1d3c37208fcd2a","name":"set D10 (value 2)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vals\":[{\"id\":\"103\",\"val\":\"9999\"}]}","payloadType":"json","x":180,"y":420,"wires":[["26095bf95696bd7c"]]},{"id":"6bd4974.1100768","type":"mqtt-broker","name":"","broker":"ie-databus","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]