src/flow.json
[{"id":"50531a2e58f3c5f0","type":"tab","label":"SLMP Data","disabled":false,"info":"","env":[]},{"id":"fac89302.19f4c","type":"mqtt in","z":"50531a2e58f3c5f0","name":"","topic":"ie/d/j/simatic/v1/slmp1/dp/r/#","qos":"2","datatype":"json","broker":"6bd4974.1100768","nl":false,"rap":false,"inputs":0,"x":200,"y":200,"wires":[["370b4b9.fc230b4"]]},{"id":"370b4b9.fc230b4","type":"debug","z":"50531a2e58f3c5f0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":200,"wires":[]},{"id":"b7b4f780326e46aa","type":"inject","z":"50531a2e58f3c5f0","name":"set REAL value","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vals\":[{\"id\":\"104\",\"val\":\"555.55\"}]}","payloadType":"json","x":160,"y":520,"wires":[["dd1527903b602294"]]},{"id":"df68af910b4749cf","type":"mqtt in","z":"50531a2e58f3c5f0","name":"","topic":"ie/m/j/simatic/v1/slmp1/dp","qos":"2","datatype":"json","broker":"6bd4974.1100768","nl":false,"rap":false,"inputs":0,"x":190,"y":80,"wires":[["2d5d7c1b70e15d48"]]},{"id":"2d5d7c1b70e15d48","type":"debug","z":"50531a2e58f3c5f0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":80,"wires":[]},{"id":"765148df93788d95","type":"comment","z":"50531a2e58f3c5f0","name":"Read metadata","info":"","x":120,"y":40,"wires":[]},{"id":"3c74d466b0d714cc","type":"comment","z":"50531a2e58f3c5f0","name":"Write data","info":"","x":100,"y":280,"wires":[]},{"id":"dd1527903b602294","type":"mqtt out","z":"50531a2e58f3c5f0","name":"","topic":"ie/d/j/simatic/v1/slmp1/dp/w/FX5","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6bd4974.1100768","x":510,"y":440,"wires":[]},{"id":"163219f424e973a4","type":"inject","z":"50531a2e58f3c5f0","name":"set BOOL value","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vals\":[{\"id\":\"102\",\"val\":\"true\"}]}","payloadType":"json","x":160,"y":320,"wires":[["dd1527903b602294"]]},{"id":"3510d25087f92caf","type":"inject","z":"50531a2e58f3c5f0","name":"set INT value","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vals\":[{\"id\":\"103\",\"val\":\"111\"}]}","payloadType":"json","x":150,"y":420,"wires":[["dd1527903b602294"]]},{"id":"1b8670f89260d4f2","type":"comment","z":"50531a2e58f3c5f0","name":"Read data","info":"","x":100,"y":160,"wires":[]},{"id":"28f782fad470d333","type":"inject","z":"50531a2e58f3c5f0","name":"reset BOOL value","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vals\":[{\"id\":\"102\",\"val\":\"false\"}]}","payloadType":"json","x":170,"y":360,"wires":[["dd1527903b602294"]]},{"id":"a0375ffcf107e66c","type":"inject","z":"50531a2e58f3c5f0","name":"reset REAL value","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vals\":[{\"id\":\"104\",\"val\":\"0\"}]}","payloadType":"json","x":160,"y":560,"wires":[["dd1527903b602294"]]},{"id":"d92ca6d80c455a15","type":"inject","z":"50531a2e58f3c5f0","name":"reset INT value","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vals\":[{\"id\":\"103\",\"val\":\"0\"}]}","payloadType":"json","x":160,"y":460,"wires":[["dd1527903b602294"]]},{"id":"6bd4974.1100768","type":"mqtt-broker","name":"","broker":"ie-databus","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]
